{% extends 'blog/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

	<h3>{{ user }}</h3>
	{% for question in page_posts %}
	<div class="post" id="post-main-page">
		<h4><a class="title" href="{% url 'qa:question' question.id %}"> {{ question.get_short_title }} </a></h4>
		<div class="date_author">
			<p>{{ question.author }}, {{ question.added_at }} <span class="badge">Like {{ question.rating }}</span> <span class="badge">Answers {{ question.answer_set.count }}</span></p>
		</div>
	</div>
			<!-- <p>{{ question.get_short_text }}</p> -->
	{% endfor %}

<div class="pagination">
	<ul class="pagination">
		{% if page_posts.has_previous %}
			<li><a href="?page={{ page_posts.previous_page_number }}">&laquo;</a></li>
		{% endif %}

		{% for num in page_posts.paginator.page_range %}
			{% if num == page_posts.number %}
				<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
			{% else %}
				<li><a href="?page={{ num }}">{{ num }}</a></li>
			{% endif %}


		{% endfor %}

		{% if page_posts.has_next %}
			<li><a href="?page={{ page_posts.next_page_number }}">&raquo;</a></li>
		{% endif %}
	</ul>
</div>


{% endblock %}
