{% extends 'blog/base.html'  %}


{% block title %}Login{%endblock%}

{% block content %}
<div class="container space">
    <div class="row">
        <div class="col-xs-12">
            <form method="post" action="/login/">{% csrf_token %}
                <div class="form-group">
                    <h4>Имя</h4>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <h4>Пароль</h4>
                    {{ form.password }}
                </div>

            <button type="submit" class="btn btn-primary">Войти</button>
    </form>

{%endblock%}