 {% extends 'blog/base.html' %}

{% block title %}
Ask
{% endblock %}

{% block content %}

<div class="container space">
    <div class="row">
        <div class="col-xs-12">
            <h4>Задать новый вопрос</h4>

            <form action="{% url 'qa:ask' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <h4>Заголовок</h4>
                    {{ forms.title }}
                </div>
                <div class="form-group">
                    <h4>Содержание вопоса</h4>
                    {{ forms.text }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}