{% extends 'blog/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
	{% for question in page_posts %}
		<h3><a href="{% url 'qa:question' question.id %}"> {{ question.title }} </a></h3>
		<p>{{ question.author }}, {{ question.added_at }}, like {{question.rating }} </p>
	{% endfor %}

<div class="pagination">
	<span class="step-links">
	{% if page_posts.has_previous %}
		<a href="?page={{ page_posts.previous_page_number }}">previous</a>
	{% endif %}
		
	<span class="current">
		Page {{ page_posts.number }} of {{ page_posts.paginator.num_pages }}
	</span>
	{% if page_posts.has_next %}
		<a href="?page={{ page_posts.next_page_number }}">next</a>
	{% endif %}
	</span>	
</div>
	

{% endblock %}
