{% extends 'blog/base.html' %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}

<div class="post">
<div class="title">
	<h1>{{ question.title }}</h1>
</div>
<div class="date_author">
	<div>{{ question.author }}, {{ question.added_at }}, like {{question.rating }}</div>
</div>
<div class="text">
	<div>{{ question.text }}</div>
</div>
</div>

<h4>Answers</h4>

<form method="post" class="form-vertical">{% csrf_token %}
	<fieldset>
		<div class="form-group">
			<div class="col-lg-10">
				{{ form_answer }}
			</div>
		</div>
		 <div class="form-group">
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
	</div>
</form>

{% for answer in answers %}
	<div class="post">
		<div class="date-author">
			<p>{{ answer.author }}, {{ answer.added_at }}</p>
		</div>
		<div class="text-answer">
			<p>{{ answer.text }}</p>
		</div>
	</div>
{% endfor %}
{% endblock %}