{% extends 'blog/base.html' %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block javascript %}
<script>
	$("#like").click(function () {
		var pathname = window.location.pathname.split('/');
		var post_num = pathname[2];

		$.ajax({
			url: '/ajax/rating_up/',
			data: {
				'post_num': post_num
			},

			dataType: 'json',
			success: function (data) {
				$("#like").html("Like " + data.rating);
			}
		});


	})
</script>
{% endblock %}

{% block content %}

<div class="post">
<div class="title">
	<h1>{{ question.title }}</h1>
</div>
<div class="date_author">
	<div>{{ question.author }}, {{ question.added_at }},  <span class="badge" id="like">Like {{ question.rating }}</span></div>
</div>
<div class="text">
	<div>{{ question.text }}</div>
</div>
</div>

<h4>Answers</h4>
{% for answer in answers %}
	<div class="post">
		<div class="date-author">
			<p>{{ answer.author }}, {{ answer.added_at }}</p>
		</div>
		<div class="text-answer">
			<p>{{ answer.text }}</p>
		</div>
	</div>
{% endfor %}

<form method="post" class="form-vertical">{% csrf_token %}
	<fieldset>
		<div class="form-group">
			<div class="col-lg-10">
				{{ form_answer }}
			</div>
		</div>
		 <div class="form-group">
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
	</div>
</form>

{% endblock %}